header {
    padding: 0px 50px;
}

.container {
    background-color: #476d80;
    width: 100%;
    height: 95vh;
    background-color: #476d80;
    background-position: center;
    background-size: cover;
}

.header-text h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 6em;
    color: #fff;
    margin: 0;
    font-weight: 600;
}


.header__name {
    font-family: 'Poppins', sans-serif;
    font-size: 4.4em;
    color: #d9d8d8;
    font-weight: 400;

}

.header__uba {
    font-family: 'Poppins', sans-serif;
    color: #d9d8d8;
    font-size: 2.6em;
    margin: 30px 0px;
    font-weight: 400;

}

.logo {
    width: 150px;
    cursor: pointer;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar nav {
    flex: 1;
    text-align: left;
    justify-content: space-between;
    height: 100%;
    padding-left: 20px;
}

.sections-list li {
    display: inline-block;
    margin-left: 10px;
}

.sections-list li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
    padding: 11px 30px;
    border-radius: 2px;
    font-family: 'Poppins', sans-serif;
}

.header-text {
    width: 50%;
    height: 50%;
    padding: 100px 0px 50px 54px;
    font-family: 'Poppins', sans-serif;
    color: #fff;

}

.header-text h2 {
    padding-left: 5px;
}

.header-text p {
    font-size: 25px;
    padding-left: 5px;
}

.body {
    background-color: #fff;
    height: 100%;
    margin: 5px 0;
}

.contact {
    background-color: #a1a1a1;
}

.contact-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-title {
    height: 100%;
    padding: 40px 0px;
    margin: 0;
}

.contact-title h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.7em;
    text-align: center;
    color: #272525;
}

.contact-title hr {
    width: 80px;
}

.contact .text-col {
    flex: 0 0 auto;
    padding: 0px 50px;

}

.contact .text-col h2 {
    font-size: 1.7em;
}

.contact .text-col p {
    padding: 20px 0px;
}

.contact .text-col h5 {
    font-size: 1.3em;
    padding: 10px 0px;
}

.proyectos-title h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 2.6em;
    color: #272525;
}

hr {
    width: 150px;
    border: 2px solid #272525;
    align-self: center;
    margin: auto;
    color: #272525;
}

.proyectos-title {
    background-color: #fff;
    padding: 40px 0px;
    margin: 0;
}

.proyectos p {
    margin: 100px 500px;
    font-size: 1.4em;
    display: block;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #272525;


}


.proyectos-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px 193px;
    width: fit-content;
    padding: 100px 200px;
    background-color: #476d80;
    align-items: center;
    height: 100%;
}


.proyecto {
    background-image: url("images/proy_residenciales_ej.jpeg");
    height: 500px;
    background-position: center;
    background-size: cover;
    margin: 20px;
    box-sizing: border-box;
    cursor: pointer;
    min-width: 400px;
    transition: transform 1s;
    position: relative;
    width: 400px;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.2);
}



.proyecto p {
    color: #fff;
}

h4 {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-shadow: 0 0 5px #999;
}

.proyecto:hover {
    transform: translateY(-10px);
}

.proyecto h3 {
    padding: 10px 0px;
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
    background-color: #f1f1f1;
    width: 100%;
    color: #000;
    text-align: center;
    position: absolute;
    bottom: 0;
}