html {
    scroll-behavior: smooth;
    /*CUIDADO. Se lo aplica a toda la pag*/

    /* Set the root font size to 62.5% (10px assuming default 16px) */
    font-size: 62.5%;

}

h1 {
    font-size: clamp(2rem, 2vw+1rem, 3.5rem);
    line-height: 1.25;
}

h2 {
    font-size: clamp(1.25rem, 2vw+0.5rem, 1.5rem);
}

/*HEADER*/

/* .site-header {
    background-color: #448390;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
} */

.nav-list nav {
    padding: 10px;
}

.logo {
    cursor: pointer;
}

.nav-list {
    height: auto;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    background-color: #f2ead7;
    padding: 40px 0;
    width: 220px;
}

/* .delayed-link:hover {
    opacity: 0.5;
    transition-delay: 2s;
    /* Delay of 2 seconds */
/* } */

.nav-list li {
    height: 50px;
}

.hr-navbar {
    color: #448390;
    width: 70%;
}

.nav-list li a {
    padding: 0 30px;
    height: 100%;
    display: flex;
    align-items: center;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: #448390;
    font-size: 2rem;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.nav-list li a:hover {
    background-color: #f0f0f0;
}

.nav-list .close-sidebar-button a:hover {
    background-color: transparent;
    /*Le pongo transparente para desactivar el efecto en la X (close)*/
}

.nav-list li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #a0a0a098;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

/*MAIN*/

.poppins {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.home-screen {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    background-color: #448390;

}



.main-content {
    background-color: #448390;
}

.main-text {
    padding: calc(2vw + 30px);
    width: 60%;
    color: #fff;
}

.main-text p {
    font-size: clamp(1.5rem, 0.786rem + 1.905vw, 2.5rem);

}

.main-text__surname {
    font-size: clamp(4rem, 0.429rem + 9.524vw, 9rem);
    color: #fff;
    margin: 0;
    font-weight: 600;
}


.main-text__name {
    /* font-size: 6.75rem; */
    /*Aparentemente el tamaño del nombre es el 75% del tamaño del apellido*/
    color: #fff;
    font-weight: 400;
    margin: 0;
    font-size: clamp(3rem, 0.321rem + 7.143vw, 6.75rem)
}

.main-text__uba {
    color: #fff;
    font-size: clamp(1.5rem, -0.357rem + 4.952vw, 4.1rem);
    margin: 30px 0px;
    font-weight: 400;
}


/*PROJECTS SECTION*/

.projects {
    background-color: #fff;
}


.separator {
    border: 2px solid #272525;
    align-self: center;
    margin: auto;
    color: #272525;

}

.contact-section__separator {
    width: calc(1vw + 60px);
}

.projects__separator {
    width: calc(3.2vw + 90px);
}

.section__title {
    height: 100%;
    padding: 40px 0px;
    margin: 0;
}

.section__title h1 {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: clamp(1.8rem, 1.371rem + 1.143vw, 2.4rem);
    color: #272525;
}

.projects__description {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 56px 0;
}

.projects__description p {
    width: 60%;
    font-size: clamp(1.4rem, 0.971rem + 1.143vw, 2rem);
    text-align: center;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: #272525;
}

.projects__container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 56px 0;
}

.projects-boxes__container {
    width: 90%;
    background-color: #448390;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.project__description-div {
    text-align: center;
    bottom: 0;
    background-color: #f1f1f1b3;
    width: 100%;
    border-radius: 2px;
    position: absolute;

}

.project {
    width: 400px;
    height: 400px;
    background-color: #fff;
    cursor: pointer;
    margin: 20px;
    transition: transform 0.2s;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    position: relative;
}

.project:hover {
    transform: translateY(-5px);
}

.project__title {
    padding: 20px 0px;
    font-size: clamp(1.3rem, 0.871rem + 1.143vw, 1.9rem);
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: #000;

}

/*CONTACT SECTION*/

.container {
    width: 100%;
    margin: 0 auto;
    padding: 60px;
}

.vertical-line {
    width: 0px;
    border-left: 1px solid #c7c4c4;
}

.horizontal-line {
    display: none;
    width: 55%;
    border-top: 1px solid #c7c4c4;
}

.contact-section {
    background-color: #e9ecef;
}

.contact-section__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-info {
    flex: 0 0 auto;
    width: 33.33333%;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;

}

.contact-info__box {
    display: flex;
    justify-content: end;
    height: 100%;
    border-radius: 5px;
}

.contact-info__content {
    color: hsla(240, 1%, 27%, 0.888);
    text-align: start;
}

/* .contact-info__title {
    font-size: 2.4rem;
    margin: 0 4px;
} */

.contact-info__name {
    font-size: clamp(1.8rem, 1.371rem + 1.143vw, 2.4rem);
    margin: 0;
    margin-bottom: 50px;
}

.contact-info__location {
    padding: 40px 0px;
    font-size: clamp(1.6rem, 1.457rem + 0.381vw, 1.8rem)
}

.contact-info__phone {
    font-size: clamp(1.6rem, 1.457rem + 0.381vw, 1.8rem);
}

.contact-form__container {
    flex: 0 0 auto;
    width: 58.33333333%;
}

.contact-form__description {
    font-size: clamp(1.6rem, 1.457rem + 0.381vw, 1.8rem);
    margin-bottom: 30px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;

}

.menu-button {
    display: none;
}

.send-button__p {
    margin: 0;
}


input[type=submit]:hover {
    background-color: #c1c1c1;
    border-color: #000;

}

input[type=submit] {
    background-color: #e9ecef;
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
    border: 2px solid #000;
    font-size: clamp(1.2rem, 1.057rem + 0.381vw, 1.4rem);

}

.to-fill-contact-field input {
    width: 100%;
    border: 1px solid #448390;
    border-radius: 2px;
    background: white;
    font-size: 1.4rem;
    padding: 10px;
    margin: 10px 0;

}

form p {
    margin-bottom: 20px;
}

label textarea {
    height: 100px;
    font-size: 1.4rem;
    width: 100%;
    border: 1px solid #448390;
    border-radius: 2px;
    box-sizing: border-box;
    resize: vertical;
    padding: 10px;
    margin: 10px 0;
}

form {
    width: 80%;
}

form label {
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(1.4rem, 1.114rem + 0.762vw, 1.8rem);
    font-weight: 200;
    line-height: 1.5em;
    padding-left: 2px;
}

.invalid-form-warning {
    color: #626264;
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}

@media(max-width: 1450px) {
    .project {
        width: 390px;
        height: 390px;
    }
}

@media(max-width: 1300px) {
    .project {
        width: 348px;
        height: 348px;
    }
}

@media(max-width: 978px) {
    .project {
        width: 350px;
        height: 350px;
        padding: 0;
    }
}

@media(max-width: 868px) {
    .project {
        width: 300px;
        height: 300px;
        padding: 0;
        margin: 10px;
    }

}

@media(max-width: 768px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }

    .main-text {
        width: 80%;
    }

    .container {
        padding: 0;
    }

    .separator {
        border: 1px solid #272525;
    }

    .contact-section__row {
        flex-direction: column;
        align-items: center;
    }

    .contact-info__box {
        justify-content: start;
        width: 100%;
    }

    .contact-form__container {
        width: 100%;
        padding: 40px;
    }

    .contact-form__container form {
        width: 100%;
    }

    .contact-info {
        width: auto;
        padding: 40px;
    }

    .horizontal-line {
        display: block;
    }

    .projects-boxes__container {
        padding: 5px;
        width: 95%;

    }

    .projects__container {
        padding: 40px 0;
    }

    .projects__description {
        padding: 20px;
    }

    .projects__description p {
        width: 90%;
    }

    .project__title {
        padding: 10px 0px;
    }

    .project {
        width: 300px;
        height: 300px;
        padding: 0;
        margin: 5px;
    }

}

@media (max-width: 716px) {
    .project {
        width: 250px;
        height: 250px;
        padding: 0;
    }
}

@media (max-width: 548px) {
    .project {
        width: 200px;
        height: 200px;
        padding: 0;
    }
}

@media (max-width: 452px) {
    .project {
        width: 190px;
        height: 190px;
        padding: 0;
    }
}

@media (max-width: 430px) {
    .project {
        width: 180px;
        height: 180px;
        padding: 0;
    }
}


@media (max-width: 412px) {
    .project {
        width: 170px;
        height: 170px;
        padding: 0;
    }
}

@media (max-width: 388px) {
    .project {
        width: 162px;
        height: 162px;
        padding: 0;
    }
}

@media (max-width: 372px) {
    .project {
        width: 156px;
        height: 156px;
        padding: 0;
    }
}




@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}