.page-container {
    background-color: #476d80;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 95vh;
}

/*HEADER*/

.header-text__surname {
    font-family: 'Poppins', sans-serif;
    font-size: 6em;
    color: #fff;
    margin: 0;
    font-weight: 600;
}


.header-text__name {
    font-family: 'Poppins', sans-serif;
    font-size: 4.4em;
    color: #d9d8d8;
    font-weight: 400;

}

.header-text__uba {
    font-family: 'Poppins', sans-serif;
    color: #d9d8d8;
    font-size: 2.6em;
    margin: 30px 0px;
    font-weight: 400;

}

.logo {
    width: 150px;
    cursor: pointer;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar nav {
    flex: 1;
    text-align: left;
    justify-content: space-between;
    height: 100%;
    padding-left: 20px;
}

.nav-list li {
    display: inline-block;
    margin-left: 10px;
}

.nav-list li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
    padding: 11px 30px;
    border-radius: 2px;
    font-family: 'Poppins', sans-serif;
}

.header-text {
    margin: 100px 200px;
    width: 50%;
    height: 50%;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: #fff;

}

.header-text h2 {
    padding-left: 5px;
}

.header-text p {
    font-size: 25px;
    padding: 30px 0px 30px 5px;
}


/*MAIN*/

.main-content {
    background-color: #fff;
    height: 100%;
    margin: 5px 0;
}

/*PROJECTS SECTION*/

.projects__title h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 2.6em;
    color: #272525;
}

.projects__separator {
    width: 150px;
    border: 2px solid #272525;
    align-self: center;
    margin: auto;
    color: #272525;
}

.projects__title {
    background-color: #fff;
    padding: 40px 0px;
    margin: 0;
}

.projects__description {
    margin: 100px 500px;
    font-size: 1.4em;
    display: block;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #272525;
}

.projects__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px 193px;
    width: fit-content;
    padding: 100px 200px;
    background-color: #476d80;
    align-items: center;
    height: 100%;
}

.project {
    background-image: url("images/proy_residenciales_ej.jpeg");
    height: 500px;
    background-position: center;
    background-size: cover;
    margin: 20px;
    box-sizing: border-box;
    cursor: pointer;
    min-width: 400px;
    transition: transform 1s;
    position: relative;
    width: 400px;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.2);
}

.project:hover {
    transform: translateY(-10px);
}

.project__title {
    padding: 10px 0px;
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
    background-color: #f1f1f1;
    width: 100%;
    color: #000;
    text-align: center;
    position: absolute;
    bottom: 0;
}


/*CONTACT SECTION*/

.contact-section {
    background-color: #a1a1a1;
}

.contact-section__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-section__title {
    height: 100%;
    padding: 40px 0px;
    margin: 0;
}

.contact-section__title h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.7em;
    text-align: center;
    color: #272525;
}

.contact-section__separator {
    width: 80px;
    border: 2px solid #272525;
    align-self: center;
    margin: auto;
    color: #272525;
}

.contact-info {
    flex: 0 0 auto;
    padding: 0px 50px;

}

.contact-info__name {
    font-size: 1.7em;
}

.contact-info__location {
    padding: 20px 0px;
}

.contact-info__phone,
.contact-info__title {
    font-size: 1.3em;
    padding: 10px 0px;
}