html {
    scroll-behavior: smooth;
    /*CUIDADO. Se lo aplica a toda la pag*/

    /* Set the root font size to 62.5% (10px assuming default 16px) */
    font-size: 62.5%;

}

h1 {
    font-size: clamp(2rem, 2vw+1rem, 3.5rem);
    line-height: 1.25;
}

h2 {
    font-size: clamp(1.25rem, 2vw+0.5rem, 1.5rem);
}

/*HEADER*/

.description-sect{
    padding: 150px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;

}
.padding-x{
    padding: 0 20px;

}
.about-me-body{
    width: 80%;
    font-size: clamp(1.4rem, 0.971rem + 1.143vw, 2rem);
    text-align: start;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: #272525;
    padding: 0 100px;

}
.profile-pic{
    width: 20%;
    height: auto;
    border-radius: 50%;

    
}

.nav-list nav {
    padding: 10px;
}

.navbar-container {
    background-color: rgb(203, 196, 188);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    width: 17%;
    max-width: 350px;
    padding: calc(2vw + 10px) 0;
    height: auto;
    list-style: none;
}


.nav-list {
    width: 100%;
    height: auto;
    list-style: none;

}

/* .delayed-link:hover {
    opacity: 0.5;
    transition-delay: 2s;
    /* Delay of 2 seconds */
/* } */

.nav-list li {
    height: 4vw;
    width: 100%;
    min-height: 35px;
}

.hr-navbar {
    color: #024458;
    width: 70%;
}

.nav-list li a {
    padding: 0 2vw;
    height: 100%;
    display: flex;
    align-items: center;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: #024458;
    font-size: clamp(1.3rem, 1.122rem + 0.475vw, 2rem);
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.nav-list li a:hover {
    background-color: rgb(230, 226, 221);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #a0a0a098;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

/*MAIN*/

.poppins {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.home-screen {
    display: flex;
    /* background-color: #024458; */
    /* background-image: url(./images/encabezado_blanco_web_Gulden_2024_3\(2\).png); */
    background-color: #024458;
    justify-content: center;

}

/* 

.main-content {
    background-color: #024458;
} */

.main-text {
    /* margin-top: calc(1vw + 60px);
    padding-top: calc(2vw + 40px);
    padding-bottom: calc(2vw + 10px);
    padding-left: calc(4vw + 100px);
    padding-right: calc(2vw + 10px);
    width: 60%;
    color: #fff; */
    width: 60%;
    padding-bottom: calc(2vw + 10px);
    padding-top: calc(8vw + 80px);
}

.main-text p {
    font-size: clamp(1.5rem, 0.786rem + 1.905vw, 2.5rem);

}

.main-text__surname {
    font-size: clamp(4rem, 0.429rem + 9.524vw, 9rem);
    color: #fff;
    margin: 0;
    font-weight: 600;
}


.main-text__name {
    /* font-size: 6.75rem; */
    /*Aparentemente el tamaño del nombre es el 75% del tamaño del apellido*/
    color: #fff;
    font-weight: 400;
    margin: 0;
    font-size: clamp(3rem, 0.321rem + 7.143vw, 6.75rem)
}

.main-text__uba {
    color: #fff;
    font-size: clamp(1.5rem, -0.357rem + 4.952vw, 4.1rem);
    margin: 30px 0px;
    font-weight: 400;
}


/*PROJECTS SECTION*/



.projects {
    background-color: #fff;
}


.separator {
    border: 2px solid #272525;
    align-self: center;
    margin: auto;
    color: #272525;

}

.contact-section__separator {
    width: calc(1vw + 60px);
}

.projects__separator {
    width: calc(3.2vw + 90px);
}

.section__title {
    height: 100%;
    padding: 40px 0px;
    margin: 0;
}

.section__title h1 {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: clamp(1.8rem, 1.371rem + 1.143vw, 2.4rem);
    color: #272525;
}

/* .sect-desc
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 56px 0;
} */

.sect-desc p {
    width: 60%;
    font-size: clamp(1.4rem, 0.971rem + 1.143vw, 2rem);
    text-align: center;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: #272525;
}

.projects__container {
    background-color: #fff;
    padding: 56px 0;
}

.projects-boxes__container {
    border-radius: 4px;
    background-color: rgb(203, 196, 188);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

.project__description-div {
    text-align: center;
    bottom: 0;
    background-color: #f1f1f1b3;
    width: 100%;
    border-radius: 2px;
    position: absolute;

}

.project {
    width: 90%;
    background-color: #fff;
    cursor: pointer;
    margin: 20px;
    transition: transform 0.2s;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    position: relative;
}

.project:hover {
    transform: translateY(-5px);
}

.project__title {
    padding: 20px 0px;
    font-size: clamp(1.3rem, 0.871rem + 1.143vw, 1.9rem);
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: #000;

}

/*CONTACT SECTION*/

/* .container {
    width: 100%;
    margin: 0 auto;
    padding: 60px 0;
} */

.vertical-line {
    width: 0px;
    border-left: 1px solid #c7c4c4;
}

.horizontal-line {
    display: none;
    width: 55%;
    border-top: 1px solid #c7c4c4;
}

.contact-section {
    background-color: #e9ecef;
}

.contact-section__row {
    display: flex;
    justify-content: start;
    /* flex-wrap: wrap;
    justify-content: space-between; */
}

.contact-info {
    flex: 0 0 auto;
    width: 33.33333%;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;

}

.contact-info__box {
    display: flex;
    justify-content: end;
    height: 100%;
    border-radius: 5px;
}

.contact-info__content {
    color: hsla(240, 1%, 27%, 0.888);
    text-align: start;
}

.contact-info__name {
    font-size: clamp(1.8rem, 1.371rem + 1.143vw, 2.4rem);
    margin: 0;
    margin-bottom: 50px;
}

.contact-info__location {
    padding: 40px 0px;
    font-size: clamp(1.6rem, 1.457rem + 0.381vw, 1.8rem)
}

.contact-info__phone {
    font-size: clamp(1.6rem, 1.457rem + 0.381vw, 1.8rem);
}

.contact-form__container {
    flex: 0 0 auto;
    width: 60%;
    padding: 5% 0;

}

.contact-form__description {
    font-size: clamp(1.3rem, 0.871rem + 1.143vw, 1.9rem);
    margin-bottom: 30px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
}

.menu-button {
    display: none;
}

.send-button__p {
    margin: 0;
}


.send-button__contact-form:hover {
    background-color: #c1c1c1;
    border-color: #000;

}

/* 
.inline-block-div {
    display: inline-block;
} */
.wpcf7-spinner {
    padding-left: 42%;
}

.send-button__contact-form {
    display: inline-block;
    background-color: #e9ecef;
    color: #000;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    border: 2px solid #000;
    font-size: clamp(1rem, 0.886rem + 0.286vw, 1.4rem);

}

.form-input,
.message-contact-field {
    /* width: 100%; */
    width: 60%;
    box-sizing: border-box;
    border: 1px solid #024458;
    border-radius: 2px;
    background: white;
    font-size: clamp(1.1rem, 1.014rem + 0.214vw, 1.4rem);
    padding: 10px;
}

#message_label {
    background-color: rgb(62, 108, 120);
}

.form-group {
    display: flex;
    margin-bottom: 20px;
    align-items: start;
}

.message-contact-field {
    height: 100px;
}

.contact-section__row label {
    text-align: right;

    margin-right: 1.2vw;
    border-radius: 0 4px 4px 0;
    width: 40%;
    background-color: rgb(138, 176, 186);
    padding-right: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(1.4rem, 1.114rem + 0.762vw, 1.8rem);
    line-height: 1.5em;
    color: #fff;

}
.contact-info__container{
    width: 70%;
    color: #fff;
    font-size: clamp(1rem, 0.825rem + 0.486vw, 1.7rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.contact-info__text{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    font-weight: 100;
}
.contact-info__row{
    padding-bottom: 20%;
    display: flex;

}
.contact-info__bar {
    background-color: #024458;
    width: 17%;
    margin-left: 11.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0 20px 0;
    /* padding: 40% 0 8% 0; */
}
.contact-info__bar img{
    width: 40%;
    height: auto;

}

.form-group.mensaje {
    align-items: start;
}

.invalid-form-warning {
    color: #626264;
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}

@media (max-width: 1100px){
    .navbar-container{
        width: 25%;
    }
    .contact-info__bar{
        width: 40%;   
        margin-left: 6.5%; 
    }
    .contact-form__container{
        width: 50%;
    
    }
    .send-button__contact-form{
        padding: 6px;
    }

    .contact-info__container{
        margin-top: 60px;
    }
    input::placeholder, textarea::placeholder {
        opacity: 0;
    }
}

@media(min-width: 820px) {
    .projects-boxes__container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media(max-width: 768px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }

    .container {
        padding: 0;
    }

    .separator {
        border: 1px solid #272525;
    }

    /* .contact-section__row {
        flex-direction: column;
        align-items: center;
    }

    .contact-info__box {
        justify-content: start;
        width: 100%;
    }

    .contact-form__container {
        width: 100%;
        padding: 40px;
    }

    .contact-form__container form {
        width: 100%;
    }

    .contact-info {
        width: auto;
        padding: 40px;
    } */

    .horizontal-line {
        display: block;
    }

    .sect-desc{
        padding: 20px 0;
    }

    .sect-desc p {
        width: 90%;
    }

    .project__title {
        padding: 10px 0px;
    }
}